<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<modules>
				<remove name="WebDAVModule"/>
			</modules>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
			<aspNetCore processPath="dotnet" arguments=".\Crystal_Clinic_Mgm.UI.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
		</system.webServer>
	</location>
	<system.webServer>
		<directoryBrowse enabled="true" />
		<security>
			<requestFiltering>
				<!-- Configures IIS to accept files up to 500MB -->
				<requestLimits maxAllowedContentLength="524288000" />
			</requestFiltering>
		</security>
	</system.webServer>
</configuration>
<!--ProjectGuid: 45D24EB5-1D0D-429B-885F-9F75BD4BDEB9-->